// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";


// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;


@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/




// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:    #488aff,
  secondary:  #32db64,
  danger:     #f60,
  light:      #f4f4f4,
  dark:       #222
);

@mixin background($url) {
  background: url($url);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

// media break points
$smart_phone_break_point: 320px;
$smart_phone_break_point2: 400px;
$phone_break_point: 576px;
$tablet_break_point: 768px;
$medium_break_point: 992px;
$large_break_point: 1199px;

// Media Query
@mixin smartphone {
  @media (max-width: $smart_phone_break_point) {
    @content;
  }
}
@mixin phone {
  @media (max-width: $phone_break_point) {
    @content;
  }
}
@mixin min-phone-height {
  @media (max-width: $smart_phone_break_point2){
    @content;
  }
}
@mixin tablet {
  @media (max-width: $tablet_break_point) and (min-width:$smart_phone_break_point2){
    @content;
  }
}
@mixin medium {
  @media (max-width: $medium_break_point) and (min-width:$tablet_break_point){
    @content;
  }
}
@mixin large {
  @media (min-width:$medium_break_point){
    @content;
  }
}
// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";
