<!--
  Generated template for the SearchHotelPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="danger">
    <ion-title text-center>Search Hotels</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item>
      <ion-label>From</ion-label>
      <ion-datetime displayFormat="MM/DD/YYYY" pickerFormat="MM DD YYYY" [(ngModel)]="dateFrom" ></ion-datetime>
    </ion-item>
        <ion-item>
            <ion-label>To</ion-label>
            <ion-datetime displayFormat="MM/DD/YYYY" pickerFormat="MM DD YYYY" [(ngModel)]="dateTo" ></ion-datetime>
          </ion-item>
        </ion-list>
          <ion-grid>
              <ion-row>
                <ion-col text-center>
                  <button  ion-button  block text-center color="danger" (click)="search()">Search</button>
                </ion-col>
              </ion-row>
              </ion-grid>
</ion-content>
