<!--
  Generated template for the HotelListPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="danger">
    <ion-title text-center>hotel List</ion-title>
  </ion-navbar>
  <ion-grid>
    <ion-row>
      <ion-col col-3>
        <button ion-button outline (click)="reserve()">Filter price</button>

      </ion-col>
      <ion-col col-3>
        <button ion-button outline (click)="reserveName()">Filter Name</button>

      </ion-col>
      <ion-col col-3>
        <button ion-button outline (click)="sortName()">sort name</button>
      </ion-col>
      <ion-col col-3>
        <button ion-button outline (click)="sortPrice()">Sort price</button>

      </ion-col>
    </ion-row>
  </ion-grid>

</ion-header>

<ion-content padding>
  <div class="modal-main" *ngIf="boolName">
    <ion-card>
      <div class="card-head">
        <h2 class="card-title">Filter Name</h2>
      </div>
      <ion-list class="price-range">
        <ion-item>
          <ion-input type="text" name="Name" [(ngModel)]="name" id="Name" placeholder="hotel Name">
          </ion-input>
        </ion-item>
      </ion-list>
      <div class="card-footer">
        <button ion-button (click)="reserveName()">Cancel</button>
        <button ion-button (click)="filterName()">Ok</button>
      </div>
    </ion-card>

  </div>
  <div class="modal-main" *ngIf="bool">
    <ion-card>
      <div class="card-head">
        <h2 class="card-title">Filter</h2>
      </div>
      <ion-list class="price-range">
        <ion-list-header>
          Price
        </ion-list-header>
        <ion-item>
          <ion-range min="0" max="200" dualKnobs="true" pin="true" [(ngModel)]="structure" color="dark">
            <ion-label range-left class="small-text">{{structure.lower}}</ion-label>
            <ion-label range-right>{{structure.upper}}</ion-label>
          </ion-range>
        </ion-item>
      </ion-list>
      <div class="card-footer">
        <button ion-button (click)="reserve()">Cancel</button>
        <button ion-button (click)="filterPrice()">Ok</button>
      </div>
    </ion-card>

  </div> 
  <ion-label text-center>Total Night :  {{this.list?.length}}</ion-label>
  <ion-card *ngFor="let h of list , let i=index " class="search-item">
    <ion-grid>
      <ion-row>
        <ion-col col-12 col-md-4 col-sm-12 col-xs-12>
          <img src="../../assets/imgs/hotel.jpg" alt="not Found">
        </ion-col>
        <ion-col col-12 col-md-8 col-sm-12 col-xs-12>
          <ion-item>
            <ion-grid>
              <ion-row>
                <ion-col col-12 col-md-8 col-sm-12 col-xs-12>
                  <h2 class="hotel_name"> {{h?.name}}</h2>
                </ion-col>
              </ion-row>
            </ion-grid>
            <h2 class="primary-color">
              <ion-icon name="pin"  item-start></ion-icon> {{h?.city}}
            </h2>
          </ion-item>
          
          <ion-item>
            <h2 class="price-info text-right">
              <span class="primary-color start-price">
                  Price : {{h?.price}} AED
              </span>
            </h2>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
</ion-content>