page-hotel-list {
    .label-md{
        margin: 5px 0;
        white-space: normal;
    }
    ion-card img{
        height: 200px;
    }
    .primary-color{
        color: #f60;
        font-weight: 600;
        letter-spacing: 1px;
        font-size: 1.9rem;
    }
    .hotel_name{
        margin: 10px 0;
        color: #f60;
        font-size: 2.2rem;
        @include phone{
            margin: 0;
    }
}
    
    .modal-main{
        color: #fff;
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: rgba(0,0,0,.4);
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 5;
    }
    .modal-main ion-card{
        background-color: #fff !important;
        border-radius: 5px;
        -webkit-border-radius: 5px;
    max-width: 280px;
    background-color: #fafafa;
    -webkit-box-shadow: 0 16px 20px rgba(0, 0, 0, 0.4);
    box-shadow: 0 16px 20px rgba(0, 0, 0, 0.4);
    }
    .modal-main .card-head{
        text-align: left;
    text-align: start;
    padding: 24px 24px 20px;
    border-bottom: 1px solid #ddd
    }
    .modal-main ion-item button{
        border-radius: 50%;
        height: 25px;
        width: 25px;
        margin-top: 0 !important
    }
    .modal-main .label{
        margin: 5px;
    }
    .modal-main .label > span{
        line-height: 30px;
    margin: 0 2px;
    min-width: 70px;
    display: inline-block;
    background-color: #ffff;
    border: 1px solid #ddd;
    padding: 2px 5px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    box-shadow: 0 1px 3px #ddd;
    }
    .card-footer{
        border-top: 1px solid #ddd;
        -webkit-flex-wrap: wrap-reverse;
        -ms-flex-wrap: wrap-reverse;
        flex-wrap: wrap-reverse;
        -webkit-box-pack: end;
        -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
        justify-content: flex-end;
        padding: 8px 8px 8px 24px;
     }
     .card-footer button{
         text-align: end;
         border-radius: 2px;
         position: relative;
         overflow: hidden;
         border:0 !important;
         box-shadow: none !important;
         font-weight: 500;
         text-transform: uppercase;
         color: #488aff;
         background-color: transparent;
         margin: 0 8px 0 0;
         padding: 10px;
     }
    .price-range ion-list-header{
        margin-bottom: 0;
        min-height: auto
    }
    .range-md .range-tick {
        margin-left: -1px;
        border-radius: 50%;
        position: absolute;
        top: 19px;
        z-index: 1;
        width: 2px;
        height: 6px;
        background: #999;
        pointer-events: none;
    }    
    .range-md .range-tick:nth-child(even){
        top: 16px;
        height: 10px;
    }
    .range-md .range-tick-active{
        background: #09f !important
    }
    .filter-icon{
        color: #f60
    }
    .search-item{
        border: 1px solid #ddd;
    border-radius: 5px;
    ion-item{
        padding-left: 0
    }
    }
 
}
